body {
    background-image: linear-gradient(#EB88EB, #820282);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
}

#inputDiv {
    text-align: center;

}

#inputDiv h1 {
    color: white;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    text-shadow: 3px 5px 5px #820282;
}

#inputDiv input {
    width: 80%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    text-align: center;
}

#inputDiv button {
    width: 80%;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(239, 176, 239);
    transition: 0.5s;
}

#inputDiv button:hover {
    cursor: pointer;
    background-color: rgb(147, 37, 147);
    color: white;
}

#inputDiv button:active {
    background-color: rgb(66, 8, 66);
}

#resultDiv #adsDiv {
    width: 200px;
    height: 200px;
    background-color: rgb(114, 33, 114);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

#resultDiv #qrDiv {
    position: relative;
    display: none;
}

#resultDiv #qrDiv i {
    font-size: 35px;
    color: white;
    position: absolute;
    right: -30px;
    top: 0;
}

#resultDiv #qrDiv i:hover {
    cursor: pointer;
}

#resultDiv #canvasDiv {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

#resultDiv #qrText {
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#mainDiv #dividerDiv {
    display: none;
    width: 5px;
    height: 50vh;
    margin: 0 100px;
    background-color: white;
}


@media (min-width: 1200px) {
    
    #mainDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    
    #inputDiv h1 {
        font-size: 100px;
    }

    #inputDiv input {
        padding: 30px 50px;
        font-size: 25px;
        border-radius: 20px;
    }

    #inputDiv button {
        padding: 30px 50px;
        font-size: 25px;
        border-radius: 20px;
        margin-top: 30px;
    }

    #mainDiv #dividerDiv {
        display: block;
    }

    #resultDiv #adsDiv {
        width: 300px;
        height: 300px;
        font-size: 50px;
        margin-bottom: 20px;
    }

}